.employee-hierarchy {
  margin: 20px;
  padding: 15px;
  border: 2px solid #1f2937;
  border-radius: 20px;
}

.employee-hierarchy__title {
  margin: 0 0 15px 0;
  color: #FFF;
}

.employee-hierarchy__supervisors-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.employee-hierarchy__supervisor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.employee-hierarchy__supervisor-info {
  background: #ceff7e;
  padding: 14px 32px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.employee-hierarchy__supervisor-name {
  font-weight: 500;
  color: #020916;
}

.employee-hierarchy__supervisor-id {
  color: #7f8c8d;
  font-size: 0.9em;
}

.employee-hierarchy__line {
  width: 2px;
  height: 20px;
  background-color: #bdc3c7;
  align-self: center;
  margin: 0;
}