<div class="employee-node">
  <div class="employee-info" [class.has-subordinates]="hasSubordinates(employee)" (click)="toggleExpand(employee)">
    <span class="employee-name">{{ employee.firstName }} {{ employee.lastName }}</span>
    <span class="employee-id">(ID: {{ employee.id }})</span>
    <span class="expand-icon" *ngIf="hasSubordinates(employee)">
      {{ employee.isExpanded ? '▼' : '▶' }}
    </span>
  </div>

  <div class="subordinates" *ngIf="employee.isExpanded && hasSubordinates(employee)">
    <ng-container *ngFor="let subordinate of employee.subordinates">
      <app-employee-list-item [employee]="subordinate"></app-employee-list-item>
    </ng-container>
  </div>
</div>